.about-section {
  background-color: $bg-2;
}
@media (max-width: 480px) {
  .about-section {
    min-width: 320px;
    background-image: url(../images/about/secbg-mob1x.png);
    background-size: contain;
    background-origin: padding-box;
    background-position: center bottom 70px;
    background-repeat: no-repeat;
  }
}
.about-container {
  text-align: center;
  padding-top: 125px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media (min-width: 480px) {
    max-width: 480px;
  }
}
.about-span {
  display: block;
  font-family: $font-h;
  color: $bg-img-hero;
  font-size: 18px;
  line-height: 0.86;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}
.about-title {
  font-family: $font-h;
  color: $focus;
  font-size: 34px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.about-picture {
  width: 220px;
}
.about-text {
  padding: 20px;
  min-width: 220px;
  text-align: start;
}
.about-text__pre-info {
  font-family: $font;
  color: $text-2;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  text-align: left;
  margin-bottom: 46px;
}
.about-text__info {
  font-family: $font;
  color: $text-3;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  text-align: left;
}
.info-t {
  display: block;
  margin-top: 15px;
}

.about-btn {
  width: 176px;
  height: 44px;
  background-color: $text-1;
  color: $focus;
  border-radius: 22px;
  border: transparent;
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.78;
  text-align: center;
  margin-top: 20px;
  @include transition (background-color);
}
.about-btn:hover,
.about-btn:focus {
  background-color: $bg-2;
}
.about-btn::after {
  content: '>';
  width: 6px;
  height: 8px;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 16px;
  border: 2px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .about-container {
    max-width: 768px;
  }
  .about-span {
    font-size: 26px;
    line-height: 0.87;
  }
  .about-title {
    font-size: 48px;
    line-height: 0.87;
    letter-spacing: 0.04em;
  }
  .about-photo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
  }
  .about-picture {
    width: 340px;
  }
  .about-text {
    align-items: flex-end;
    width: 340px;
    padding-top: 60px;
  }
  .about-btn {
    margin-top: 40px;
    margin-right: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .about-section {
    background-image: url(../images/about/secbg-1x.png);
    background-size: contain;
    background-origin: padding-box;
    background-position: center bottom 70px;
    background-repeat: no-repeat;
  }
  .about-container {
    max-width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
  .about-span {
    font-size: 30px;
    line-height: 0.88;
  }
  .about-title {
    font-size: 58px;
    line-height: 0.88;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .about-text {
    width: 463px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    padding-top: 120px;
  }
}
